*{
    margin: 0;
    background: #1d1d1d;
}

.header{
    padding: 10px;
    text-align: left;
    height: 125px;
    background-image: url(IMG/header.jpg);
    color: #e6e6e6;
    font-size: 30px;
}

.logo{
    padding: 0%;
    margin-left: 10px;
    margin-top: 10px;
    width: 0px;
    font-family: 'Yatra One', cursive;
    font-size: 35px;
    color: #1d1d1d;
    -webkit-text-stroke: #6d6d6d;
    -webkit-text-stroke-width:.01em;
}

