*{
    background-color: #ff0000;
    margin: 0;
}

header{
    position: absolute;
    height: 100px;
    min-width: 100%;
    background-size: cover;
}
h1{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #b7b7b7;

    font-style: normal;
    font-weight: bolder;
    font-size: 53px;
    line-height: 78px;
    letter-spacing: 0.1em;
    

    
}